.table-standard{}

.table-standard .col1{
	width: 30%;
}

.table-standard .col2{
	width: 70%;
}

.table-detalles-interno{
	list-style: none;
	padding: 0; margin: 0;
	color: #333;
}
.table-detalles-interno span{
	font-weight: bold;
}

@media only screen and (max-width: 980px) {
    .customMobilePadding {
        padding: 10px 20px;
    }

    .table-standard .col1{
		width: 50%;
	}

	.table-standard .col2{
		width: 50%;
	}
}